<div class="row">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                {{!-- <img src="/public/images/logo-placeholder.png" width="30" height="30" class="d-inline-block align-top" alt="logo"> --}}
                App Name
            </a>
    </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h1>Your Organization's Dashboard</h1>
<ul id="example-list" class="list-group">
              {{#each events}}
              {{!-- {{#if this.OrganizationId ===}} --}}
              <li data-id="{{this.id}}" class="list-group-item">
                <h5>{{this.eventTitle}}</h5>
                <p>{{this.description}}</p>
                <p>{{this.venueName}}</p>
                <p>{{this.address}}</p>
                <p>{{this.address2}}</p>
                <p>{{this.city}}, {{this.state}} {{this.zip}}</p>
                <p>{{this.startTime}} - {{this.endTime}}</p>
                {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
              </li>
              {{/each}}
            </ul>            </div>
            <div class="row">
                <a href="/postevent" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Post an event</a>
                <a href="/postneed" class="btn btn-outline-success my-2 my-sm-0" type="submit"> Post a need</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/dashboard.js"></script>