<div id="home">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
          Civic Reach
        </a>
        <a href="/login" class="btn btn-primary float-right" role="button"> Organization Login</a>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="jumbotron jumbotron-fluid" style = "background-image: url(/images/jumbotron.jpg">
        <div class="container">
          <h1 class="display-4">Welcome to Civic Reach!</h1>
          <p class="lead">Enter your zipcode to view local concerns or <button type="button" id="location-btn"
              class="btn btn-link">use my
              location</button></p>
          <form class="form-inline my-2 my-lg-0">
            <input id="input-zip" class="form-control mr-sm-2" type="search" placeholder="Your Zipcode"
              aria-label="Search">
            <button id="search-btn" class="btn btn-primary" role="button">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {{!-- <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
      </div> --}}
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h3>Local Events:</h3>
            <ul id="example-list" class="list-group">
              {{#each events}}
              <li data-id="{{this.id}}" class="list-group-item">
                <h5>{{this.eventTitle}}</h5>
                <p><strong>Event Description: </strong>{{this.description}}</p>
                <p><strong>Location: </strong>{{this.venueName}}</p>
                <p><strong>Address: </strong>{{this.address}}</p>
                <p>{{this.address2}}</p>
                <p>{{this.city}}, {{this.state}} {{this.zip}}</p>
                <p><strong>When: </strong>{{this.startTime}} - {{this.endTime}} on {{this.date}}</p>
                <p><strong>Contact:</strong> {{this.Organization.phone}}</p>
                <p>{{this.Organization.email}}</p>
                {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="col-6">
            <h3>Local Donation Needs:</h3>
            <ul id="example-list" class="list-group">
              {{#each needs}}
              <li data-id="{{this.id}}" class="list-group-item">
                <h5>{{this.needTitle}} Needed</h5>
                <p><strong>Description: </strong>{{this.description}}</p>
                <p><strong>Quantity Needed: </strong>{{this.quantity}}</p>
                <p><strong>Posted By:</strong> {{this.Organization.name}}</p>
                <p>{{this.Organization.address}}</p>
                <p>{{this.Organization.address2}}</p>
                <p>{{this.Organization.city}}, {{this.Organization.state}} {{this.Organization.zip}}</p>
                <p><strong>Contact:</strong> {{this.Organization.phone}}</p>
                <p>{{this.Organization.email}}</p>
                {{!-- <button class="btn btn-danger float-right delete">ｘ</button> --}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>